body{
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    height: 40px;
    width: 100vw;
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin: 10px;
    font-size: larger;
}

h1{
    margin-top: 5%;
    color: cadetblue;
}

form{
    margin-top: 4%;
}

form input[type="text"]{
    font-size: xx-large;
    margin: 5px;
    display: block;
    background-color: black;
    color: white;
}

form input[type="submit"]{
    font-size: large;
    margin-top: 20px;
    padding: 5px;
    background: blueviolet;
    color: white;
    display: block;
}