<%- include('ReUse/head.ejs') %>
  <body>
    <header>
      <%- include('ReUse/nav.ejs') %>
    </header>
    <Center> <h2 style="margin-top:10%;"> Hi i am Nodeja Developer... </h2> </Center>

</body>
</html>