<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Access Denied</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: lightseagreen;
        animation: bg 20s linear infinite;
      }
  
      @keyframes bg {
        0%,
        100% {
          background-color: black;
        }
  
        25% {
          background-color: whitesmoke;
        }
  
        50% {
          background-color: lightseagreen;
        }
  
        75% {
          background-color: blue;
        }
      }
    </style>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Page Not Found...
    </h1>
  </body>
</html>
