<nav>
    <ul>
        <div class="h">MY SHOP</div>
        <p><a class="<%= (title === 'Home page') ? 'act' : '' %>" href="/"> Shop </a></p>
        <p><a class="<%= (title === 'Adding page') ? 'act' : '' %>" href="/fun/add">Add Product</a></p>
        <p><a class="<%= (title === 'Name') ? 'act' : '' %>"  href="/name">Name</a></p>
        <p><a class="<%= (title === 'Developer') ? 'act' : '' %>"  href="/dev">Developer</a></p>
    </ul>
  </nav>